
.movie-detail {
    position: absolute;
    display: flex;
  }
 
  .movie-title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .movie-rating {
    font-size: 1.4rem;
  }

  .detail_rating{
    display: flex;
    justify-content: space-between;
  }

  
  .movie-poster {
    margin-right: 30px;
    object-fit: cover;
    border-radius: 8px;
  }

  .movie-overview {
    font-size: 1.4rem;
    margin-top: 30px;
    line-height: 1.6;
  }
  
  .movie-genres {
    .장르{
      font-size: 1.4rem;
    }
    list-style: none;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
      li{
        background-color: rgb(35, 25, 25);
        border: 1px solid wheat;
        padding : 15px;
        margin-bottom: 50px;
        border-radius: 4px;
        font-size: 1.2rem;
    }
    
  }
  